/* Ubiquitous or shared styling */
* {
    /* outline: 2px solid red; */
  }
  
body {
    background-color: #313131;
}

.home-title,
.home-link
 {
    color: #fcddaf;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    width:100%;
    margin: 0.25em auto;
}

/* Index styling */
div.summary { /* for each meal-type on the home page */
    margin: 1em;
}
details {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    width:25%;
    margin: 0 auto;
}

details p {
    text-align: left;
    width:75%;
    margin: 0 auto;
    padding: 0.25em 0;
    font-size: 0.85em;
    font-weight: bold;
    font-family: 'Garamond', serif;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #fcddaf;
    text-decoration: none;
    text-decoration: underline;
}

summary {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

/* Recipe styling */
.recipe-name {
    color: #fcddaf;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    margin: 0.25em auto;
}

figure {
    margin: 0 auto;
    width: 75%;
    margin: 0.25em auto;
}

.recipe-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

figcaption {
    color: white;
    font-size: 0.85em;
    font-weight: bold;
    text-align: center;
    width:100%;
    margin: 0.5em auto 0;
}

.recipe-container {
    width: 75%;
    margin: 1.5em auto 0;
}

.description-container h4,
.description-container p {
    width: 100%;
    margin: 0.25em auto 0;
}

.ingredients-container {
    width: 100%;
    margin: 1.5em auto 0;
}

.ingredients-container h4,
.ingredients-container p,
.ingredients-container ul {
    width: 100%;
    margin: 0.5em auto 0;
}

.ingredients-container li {
    margin: 0.25em 0;
}

.directions-container {
    width: 100%;
    margin: 1.5em auto 0;
}

.directions-container h4,
.directions-container p,
.directions-container ol {
    width: 100%;
    margin: 0.5em auto 0;
}

.directions-container li {
    margin: 0.25em 0;
}

.recipe-text,
ul,
ol {
    color: white;
}

h4 {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #fcddaf;
}


/* p, 
h4,
ul,
ol{
    color: white;
    font-size: 1em;
    margin: 0.5em 0.5em;
    text-align: left;
    
} */
